@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  font-family: 'Noto Sans JP',"Cormorant Garamond","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
}

section {
  width: 90%;
  margin: 0 auto;
}

a {
  transition: opacity .3s;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

:root {
  --white:#f1f1f1
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 100px 0;
}

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .1em;
  color: rgb(105, 105, 105);
  font-family: "Cormorant Garamond";
}

h2::first-letter {
  font-size: 2em;
  color: #f4d4ed;
  text-shadow: 2px 2px 3px #a7a1a5;
}

.lead {
  margin-bottom: 30px;
}

/*--------------------------------
 header
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  text-align: center;
  background-image: url("../img/top_haikei.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: lighten;
  background-attachment: fixed;
  color: var(--white);
  letter-spacing: 0.7em;
}

.header-inner {
  padding: 0 40px;
}

.header-title {
  font-family: "Amatic SC", cursive;
  font-size: 72px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 3px 3px rgb(107, 107, 107);
}
/* headerタイトルのアニメーション */
header div > span {
  opacity: 0.15;
}

#k {
  opacity: 1;
  animation: flickerI 2s linear reverse infinite;
}

#k::after {
  content: '';
  width: 120%;
    -webkit-box-shadow: -35px 0 60px 8px rgba(255, 255, 255, 1);
    -moz-box-shadow: -35px 0 60px 8px rgba(255, 255, 255, 1);
    box-shadow: -35px 0 60px 8px rgba(255, 255, 255, 1);
}

#o {
  animation: flickerLG 2s liner reverse infinite;
  position: relative;
}

#o::after,
#o::before {
  content: '';
  width: 80%;
  height: 100%;
  background: var(--white);
  position: absolute;
  top: 0;
  left: 15%;
  border-radius: 90%;
  opacity: 0.05;
  filter: blur(10px);
}

#o::after {
  width: 120%;
  height: 150%;
  top: -10%;
  left: -5%;
  opacity: 0.1;
  filter: blur(10px);
}

#y {
  animation: flickerH 2s linear reverse infinite;
}

@keyframes flickerI {
  0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flickerLG {
	0% {
		opacity: 0.19;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.25;
	}
	15% {
		opacity: 0.35;
	}
	25% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.2;
	}
	60% {
		opacity: 0.4;
	}
	70% {
		opacity: 0.35;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.4;
	}
}

@keyframes flickerH {
	0% {
		opacity: 0.2;
	}
	5% {
		opacity: 0.25;
	}
	10% {
		opacity: 0.18;
	}
	15% {
		opacity: 0.7;
	}
	25% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.45;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.17;
	}
	45% {
		opacity: 0.2;
	}
	60% {
		opacity: 0.35;
	}
	70% {
		opacity: 0.25;
	}
	80% {
		opacity: 0.35;
	}
	90% {
		opacity: 0.23;
	}
	100% {
		opacity: 0.35;
	}
}


/*--------------------------------
 下層ページのheader
---------------------------------*/
.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 10px;
  text-align: center;
}

.sub-header-inner {
  padding: 0 40px;
}

.sub-header-title {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 5px;
  color: #f9fbba;
}
.sub-header-subtitle {
  font-family: "Amatic SC", cursive;
  font-size: 16px;
  line-height: 1;
  letter-spacing: .08em;
  color: #333;
}

/*--------------------------------
グローバルナビ
---------------------------------*/
.gnav {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(212,237,244,0.7);
}

.gnav-inner {
  padding: 15px 40px;
}

.gnav-list {
  display: flex;
  justify-content: center;
}

.gnav-item {
  margin: 0 20px;
  font-family: "Cormorant Garamond";
}

.gnav-item a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #333;
}

.gnav-item a:hover {
  opacity: .8;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 46%;
  text-align: center;
  margin: 0 2% 40px 2%;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img {
  width: 100%;
  line-height: 250px;
  text-align: center;
  position: relative;
}

.works-img img {
  border: 1px solid #e6e6e6;
  vertical-align: middle;
  max-height: 250px;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px;
  margin-left: 10%;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 3px;
}

.skill-detail {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  text-align: center;
}

/*--------------------------------
 About
---------------------------------*/
.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.profile-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}
.profile-img img {
  border-radius: 50%;
}
.profile-body {
  flex: 1;
}
.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #d4edf4;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #333;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #d4edf4;
}

.copyright {
  font-size: 15px;
  text-align: center;
  color: #333;
  font-family: "Cormorant Garamond";
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-img {
  margin-bottom: 20px;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-info-title {
  font-size: 15px;
}

.article-body img {
  margin-bottom: 30px;
}

.article-body p {
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .inner {
    padding: 0 20px;
  }

  /*  header */
  .header {
    height: 60vh;
  }

  .header-inner {
    padding: 0 20px;
  }

  .header-title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  /*  下層ページのheader */
  .sub-header-inner {
    padding: 0 40px;
  }

  .sub-header-title {
    font-family: "Dancing Script", cursive;
    font-size: 24px;
  }
  .sub-header-subtitle {
    font-size: 14px;
  }

  /* グローバルナビ */
  .gnav .inner {
    padding: 15px;
  }

  .gnav-logo {
    font-size: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 12px;
  }

  .gnav-item a:after {
    display: none;
  }

  /* Works */
  .works-name {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 30px 0;
  }
}
