/* 全体設計 */
body {
  height: auto;
  margin: 0 auto;
  color: #555;
  font-size: 14px;
  line-height: 1;
  font-family: "メイリオ", Meiryo;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ヘッダー */
.header {
  height: 50px;
  width: 90%;
}

.header__logo {
  width: 213px;
  height: 39px;
  margin-top: 30px;
  margin-left: 25px;
  float: left;
}

.header__nav {
  float: right;
  margin-top: 30px;
}

.header__list {
  list-style: none;
}

.header__list,
.header__list-item {
  float: left;
  margin-left: 25px;
}

.header__list-item a {
  color: #555555;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.header__list-item a:hover {
  color: #66cdaa;
}

/* メイン画像 */
.hero {
  text-align: center;
  position: relative;
}

.hero img {
  width: 98%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 50px;
}

.hero__text {
  position: absolute;
  color: rgb(70, 70, 70);
  font-size: 1.8em;
  top: 53%;
  right: 10%;
}

.content {
  background-image: url(clinic/images/background_img.jpg);
  width: 100%;
}

/* レフト */
.content {
  width: 280px;
  height: auto;
  float: left;
  margin-right: 30px;
}

.content__item {
  width: 278px;
  height: 48px;
  background-color: #f0fff0;
  margin-bottom: 10px;
  list-style: none;
  border: 1px solid #66cdaa;
}

.content__item a {
  font-size: 16px;
  font-weight: bold;
  color: #555555;
  text-decoration: none;
  line-height: 50px;
  padding-left: 50px;
  display: block;
}

.content__icon-tel {
  background: url(images/icon_tel.png) no-repeat 14px center;
}

.content__icon-blog {
  background: url(images/icon_blog.png) no-repeat 14px center;
}

.content__icon-voice {
  background: url(images/icon_voice.png) no-repeat 14px center;
}

/* ライト */
.info {
  width: 50%;
  height: auto;
  float: left;
  margin-left: 10%;
}

.info__tittle {
  font-size: 20px;
  font-weight: bold;
  color: #555555;
  margin-bottom: 15px;
}

.info__date {
  font-size: 12px;
  color: #a8a8a8;
  float: left;
  width: 79px;
  line-height: 40px;
  padding-left: 15px;
}

.info__update {
  font-size: 13px;
  color: #555555;
  padding-left: 25%;
  width: 556px;
  line-height: 40px;
}

.info__date:nth-of-type(odd) ,
.info__update:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.clearfix {
  clear: both;
}

/* フッター */
.footer {
  width: 100%;
  height: 90px;
  background-color: #66cdaa;
  margin-top: 50px;
}

.footer__inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 20px 0;
}

.footer__pageTop a {
  width: 78px;
  height: 20px;
  background-color: #66cdaa;
  text-align: center;
  color: white;
  display:block;
  text-decoration: none;
  line-height: 20px;
  position: absolute;
  top: -20px;
  right: 0;
  padding: 5px;
}

.footer__logo {
  float: left;
  position: absolute;
  top: 15px;
}

.footer__topic {
  float: right;
  position: relative;
  top: -5px;
}

.footer__topic-path {
  float: left;
  margin-left: 20px;
  list-style: none;
}

.footer__topic-path a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
